:root {
    --white-color: #fff;
    --black-color: #000;
    --text-color: #333;
}

* {
    margin: 0;
    padding: 0;
    font: inherit;
}

*::before,
::after {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

.grid {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}

.grid__full {
    width: 100%;
}

.grid__row {
    display: flex;
    flex-wrap: wrap;
}