*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 62.5%;
    background-color: #eeeee;
}

p {
    font-size: 1rem;
    color: #333;
}

h1 {
    font-size: 2rem;
    color: #000;
}

a {
    text-decoration: none;
    font-size: 1rem;
    color: #000;
}

#header {
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
    min-height: 70px;
    padding: 16px 32px;
    background-color: #ddd;
}

#header-img {
    width: 275px;
    height: 100%;
}

#nav-bar li {
    display: inline-block;
}

#nav-bar a {
    padding: 0.2em 1em;
}

#nav-bar a:hover {
    color: #fff;
    background-color: #333;
}

#main {
    display: flex;
    flex-direction: column;
    max-width: 1000px;
    margin: 0 auto;
}

#form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 80px;
    width: 100%;
}

#form h1 {
    margin-bottom: 1rem;
}

input {
    min-height: 2em;
    margin: 0.5rem auto;
    font-size: 1.5rem;
}

#submit {
    border: none;
    padding: 0.5em 1em;
    background-color: #FFA500;
}

#submit:hover {
    opacity: 0.9;
    cursor: pointer;
}

#features {
    margin-top: 2rem;
}

.intro-content-services {
    display: flex;
}

.fa-solid {
    font-size: 3rem;
}

#features .service-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 120px;
    width: 20vw;
    color: #FFA500;
}

#features .service-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    height: 120px;
    width: 80vw;

}

#footer {
    text-align: center;
    background-color: #ddd;
    padding: 2rem 0;
}

#footer li {
    list-style-type: none;
    display: inline;
    padding: 0.5rem 2rem;

}

@media (max-width:820px) {
    #header {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    #form {
        margin-top: 120px;
    }
}