html {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    font-size: 10px;
}

* {
    margin: 0;
    padding: 0;
}

header {
    font-size: 2.6rem;
    font-weight: bold;
}

#main-doc {
    margin-left: 350px;
    padding: 20px;
}

#main-doc header {
    text-align: left;
    padding: 16px 0;

}

p {
    margin: 8px 0;
    line-height: 1.5;
    font-size: 1.6rem;
}

li {
    margin-bottom: 8px;
    line-height: 1.5;
    margin-left: 48px;
    font-size: 1.6rem;
}

code {
    display: block;
    font-family: 'Courier New', Courier, monospace;
    margin: 24px;
    padding: 16px;
    background-color: #f7f7f7;
    font-size: 1.5rem;
    white-space: pre-line;
    word-break: normal;
    word-wrap: normal;
    text-align: left;
    border-radius: 5px;
    line-height: 2;
    position: relative;
}

#navbar {
    position: fixed;
    min-width: 290px;
    width: 300px;
    height: 100%;
    border-right: 2px solid black;
    background-color: #ccc;
}

#navbar header>a {
    display: block;
    text-decoration: none;
    text-align: center;
    margin: 32px 0;
    color: #4d4e53;
}

#navbar li {
    list-style: none;
    margin: 0;
    border-top: 1px solid black;

}

.nav-link {
    display: block;
    padding: 16px 32px;
    text-decoration: none;
    color: #4d4e53;
}

@media (max-width: 815px) {
    #navbar {
        background-color: #fff;
        position: absolute;
        top: 0;
        left: 0;
        padding: 0;
        margin: 0;
        width: 100%;
        max-height: 270px;
    }

    #main-doc {
        position: relative;
        margin-left: 8px;
        margin-top: 280px;
    }

    #navbar ul {
        height: 200px;
        overflow-y: auto;
        border: 1px solid;
    }
}